body {
    box-sizing: content-box;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/FONDOS.png');
    background-color: #DBF9FC;
    color: white; 
}
header {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #333;
}
header h1 {
    margin: 0px;
}
main {
    box-sizing: border-box;
    max-width: 90vw;
    margin-bottom: 3em;
}

.options-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 1em;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.options-container label,
.options-container select,
.options-container button,
.color-picker-container {
    color: black;
    background-color: #ddd;
    border-width: 0px;
    border-radius: 4px;
    margin: 0px 0.5em;
}
.options-container label {
    background-color: white;
}

select, button {
    padding: 8px;
}

button {
    cursor: pointer;
}

#schedule-table {
    color:black;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

#schedule-table th, #schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.schedule-cell {
    cursor: pointer;
    background-color: #e6f7ff;
}

.schedule-cell:hover {
    background-color: #b3e0ff;
}

.color-picker-btn {
    appearance: none;
    border: none;
    width: 60px;
    height: 24px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 4px;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#export-image-btn {
    background-color: #ddf;
}
#export-image-btn:hover {
    background-color: #ccf;
}
#export-excel-btn {
    background-color: #cec;
}
#export-excel-btn:hover {
    background-color: #beb;
}

.schedule-cell {
    cursor: pointer;
    background-color: #e6f7ff;
    position: relative; 
}

.schedule-cell:hover {
    background-color: #b3e0ff;
}


.delete-button {
    width: 30px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #FF6666;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 1%; 
    left: 5%;
    transform: translateX(-50%);
    display: none;
}
    
.schedule-cell:hover .delete-button {
    display: block; 
}
    


.hidden {
    display: none;
}

.visible {
    display: block;
}
#total-credits {
    display: block;
    font-size: 1rem;
    color: black;
    background-color: #ddd;
    padding: 0.5rem 1rem;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
footer {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    padding: 1em;
    width: 100%;
    margin-top: auto;


    background-color: #333;
    color: white;
    justify-content: space-between; 
}
footer a {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-decoration: none;
    background-color: #222;
    padding: 0px 0.4em;
    border-radius: 5px;
}
footer a:hover {
    color:#b3e0ff;
}
